seed_everything: 42

ckpt_path: null

data:
  class_path: "ts_utils.SineCosineDataModule"
  init_args:
    num_steps: 2000
    max_length: 100.0
    noise_level: 0.02
    random_seed: 42
    train_size: 0.6
    val_size: 0.2
    test_size: 0.2
    window_size: 24
    mode: 'next'
    next_steps: 1
    time_last: false
    batch_size: 32
    num_workers: 0

model:
  class_path: "ts_utils.LSTM"
  init_args:
    input_size: 2
    hidden_size: 5
    num_layers: 1
    loss: 'mse'
    lr: 1e-04

trainer:
  accelerator: "cpu"
  max_epochs: 100
  log_every_n_steps: 10
  check_val_every_n_epoch: 1
  logger:
    class_path: "lightning.pytorch.loggers.TensorBoardLogger"
    init_args:
      save_dir: "run/"
      name: "lstm"
      version: null
  callbacks:
    - class_path: "lightning.pytorch.callbacks.LearningRateMonitor"
      init_args:
        logging_interval: null
    - class_path: "lightning.pytorch.callbacks.ModelCheckpoint"
      init_args:
        filename: "best"
        monitor: "val_loss"
        mode: "min"
        save_top_k: 1
    - class_path: "lightning.pytorch.callbacks.ModelCheckpoint"
      init_args:
        filename: "{epoch}"
        save_top_k: -1
        every_n_epochs: 5
        save_last: true
